project_id = "wdwlstorgakzcfxbazww"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[auth]
enabled = true

[functions.groq-ai]
verify_jwt = true

[functions.seed-properties]
verify_jwt = false
